.aws-btn--theme-c137 {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-line-height: 24px;
  --button-default-border-radius: 6px;
  --button-default-placeholder-width: 120px;
  --button-icon-width: 44px;
  --button-icon-height: 44px;
  --button-small-width: 88px;
  --button-small-height: 44px;
  --button-medium-width: 136px;
  --button-medium-height: 44px;
  --button-large-width: 192px;
  --button-large-height: 44px;
  --button-font-family: inherit;
  --button-font-weight: 600;
  --button-font-style: normal;
  --button-hover-darken-opacity: 0.1;
  --button-letter-spacing: 0px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-pressed-level: 0px;
  --button-hover-pressure: 2;
  --button-shadow-color: rgba(0, 0, 0, 0.3);
  --button-shadow-divisor: 2;
  --loading-transition-timing: ease-out;
  --loading-transition-speed: 6s;
  --loading-transition-end-speed: 0.3s;
  --transform-speed: 0.185s;
  --button-release-speed: 0.148s;
  --button-primary-color: #49536f;
  --button-primary-color-dark: rgb(42.6494565217, 48.4918478261, 64.8505434783);
  --button-primary-foreground: rgb(212.1684782609, 216.027173913, 226.8315217391);
  --button-primary-color-hover: rgb(67.941576087, 77.2486413043, 103.308423913);
  --button-primary-color-active: rgb(60.8597826087, 69.1967391304, 92.5402173913);
  --button-primary-border: 2px solid rgb(42.6494565217, 48.4918478261, 64.8505434783);
  --button-secondary-color: #fefc81;
  --button-secondary-color-dark: rgb(202.8897637795, 199.6692913386, 1.6102362205);
  --button-secondary-foreground: rgb(126.9921259843, 124.9763779528, 1.0078740157);
  --button-secondary-color-hover: rgb(253.6385826772, 250.9157480315, 83.4614173228);
  --button-secondary-color-active: rgb(253.1968503937, 249.5905511811, 27.8031496063);
  --button-secondary-border: 2px solid rgb(202.8897637795, 199.6692913386, 1.6102362205);
  --button-link-color: #eccab1;
  --button-link-color-dark: #6d4b29;
  --button-link-foreground: rgb(71.94, 49.5, 27.06);
  --button-link-color-hover: rgb(233.0030927835, 193.6402061856, 164.6969072165);
  --button-link-color-active: rgb(228.0082474227, 179.7072164948, 144.1917525773);
  --button-link-border: 2px solid #6d4b29;
  --button-danger-color: #3db64b;
  --button-danger-color-dark: #d2e054;
  --button-danger-foreground: white;
  --button-danger-color-hover: rgb(58.4395061728, 174.3604938272, 71.8518518519);
  --button-danger-color-active: rgb(54.5987654321, 162.9012345679, 67.1296296296);
  --button-danger-border: 2px solid #d2e054;
  --button-disabled-color: #dfdfdf;
  --button-disabled-color-dark: #acacac;
  --button-disabled-foreground: rgb(184.75, 184.75, 184.75);
  --button-disabled-color-hover: #dfdfdf;
  --button-disabled-color-active: #dfdfdf;
  --button-disabled-border: 2px solid rgb(178.375, 178.375, 178.375);
  --button-placeholder-color: #dfdfdf;
  --button-placeholder-color-dark: #acacac;
  --button-placeholder-color-light: rgb(184.75, 184.75, 184.75);
  --button-placeholder-color-hover: #dfdfdf;
  --button-placeholder-color-active: #dfdfdf;
  --button-placeholder-border: none;
  --button-mail-color: #cfcfcf;
  --button-mail-color-dark: #9c9c9c;
  --button-facebook-color: #4868ad;
  --button-facebook-color-dark: rgb(49.5183673469, 71.5265306122, 118.9816326531);
  --button-messenger-color: #3186f6;
  --button-messenger-color-dark: rgb(9.1465116279, 95.5302325581, 209.3534883721);
  --button-twitter-color: #00aced;
  --button-twitter-color-dark: rgb(0, 116.4810126582, 160.5);
  --button-linkedin-color: #0077b5;
  --button-linkedin-color-dark: rgb(0, 68.7044198895, 104.5);
  --button-whatsapp-color: #25d366;
  --button-whatsapp-color-dark: rgb(25.5866935484, 145.9133064516, 70.5362903226);
  --button-github-color: #25292e;
  --button-github-color-dark: rgb(2.8975903614, 3.2108433735, 3.6024096386);
  --button-reddit-color: #fc461e;
  --button-reddit-color-dark: rgb(202.7960526316, 38.7565789474, 2.7039473684);
  --button-pinterest-color: #bd091c;
  --button-pinterest-color-dark: rgb(115.9772727273, 5.5227272727, 17.1818181818);
  --button-gplus-color: #ce5b4e;
  --button-gplus-color-dark: rgb(162.5110619469, 56.9247787611, 44.9889380531);
  --button-youtube-color: #cc181e;
  --button-youtube-color-dark: rgb(135.5526315789, 15.9473684211, 19.9342105263);
  --button-instagram-radial-color: radial-gradient(circle at 25% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  --button-instagram-radial-color-dark: radial-gradient(circle at 25% 110%, #b9a800 0%, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%);
}
.aws-btn--theme-c137.aws-btn--disabled span {
  text-decoration: line-through;
}
.aws-btn--theme-c137.aws-btn--placeholder .aws-btn__label::before {
  background-color: rgba(255, 255, 255, 0.05);
}
