.aws-btn--theme-rickiest {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-line-height: 24px;
  --button-default-border-radius: 6px;
  --button-default-placeholder-width: 120px;
  --button-icon-width: 44px;
  --button-icon-height: 48px;
  --button-small-width: 88px;
  --button-small-height: 48px;
  --button-medium-width: 136px;
  --button-medium-height: 48px;
  --button-large-width: 192px;
  --button-large-height: 48px;
  --button-font-family: inherit;
  --button-font-weight: 600;
  --button-font-style: normal;
  --button-hover-darken-opacity: 0.1;
  --button-letter-spacing: 0px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-pressed-level: 0px;
  --button-hover-pressure: 2;
  --button-shadow-color: rgba(0, 0, 0, 0.3);
  --button-shadow-divisor: 2;
  --loading-transition-timing: ease-out;
  --loading-transition-speed: 6s;
  --loading-transition-end-speed: 0.3s;
  --transform-speed: 0.185s;
  --button-release-speed: 0.148s;
  --button-primary-color: #aad3ea;
  --button-primary-color-dark: #57a9d4;
  --button-primary-foreground: rgb(39.6226415094, 116.9811320755, 160.3773584906);
  --button-primary-color-hover: rgb(149.5518867925, 200.4150943396, 228.9481132075);
  --button-primary-color-active: rgb(129.1037735849, 189.8301886792, 223.8962264151);
  --button-primary-border: 2px solid #57a9d4;
  --button-secondary-color: #FAFAFA;
  --button-secondary-color-dark: #349890;
  --button-secondary-foreground: #1a4c48;
  --button-secondary-color-hover: rgb(236, 248.5, 247.5);
  --button-secondary-color-active: rgb(198, 235.5, 232.5);
  --button-secondary-border: 2px solid #b3e5e1;
  --button-link-color: #95d44a;
  --button-link-color-dark: rgb(81.6052631579, 169.487854251, 52.012145749);
  --button-link-foreground: rgb(62.8157894737, 130.463562753, 40.036437247);
  --button-link-color-hover: rgb(136.9330357143, 207.1049107143, 53.3950892857);
  --button-link-color-active: rgb(123.7946428571, 189.8883928571, 45.1116071429);
  --button-link-border: 2px solid #5bbd3a;
  --button-danger-color: #8B3357;
  --button-danger-color-dark: #531849;
  --button-danger-foreground: white;
  --button-danger-color-hover: rgb(131.5378947368, 48.2621052632, 82.3294736842);
  --button-danger-color-active: rgb(120.3447368421, 44.1552631579, 75.3236842105);
  --button-danger-border: 2px solid #531849;
  --button-disabled-color: #e0e0e0;
  --button-disabled-color-dark: #999999;
  --button-disabled-foreground: #9c9c9c;
  --button-disabled-color-hover: #e0e0e0;
  --button-disabled-color-active: #e0e0e0;
  --button-disabled-border: 2px solid #969696;
  --button-placeholder-color: #e3fdd6;
  --button-placeholder-color-dark: rgb(172.94375, 224.76875, 147.03125);
  --button-placeholder-color-light: rgb(163.859375, 221.421875, 135.078125);
  --button-placeholder-color-hover: #e3fdd6;
  --button-placeholder-color-active: #e3fdd6;
  --button-placeholder-border: 2px solid #b3e39b;
  --button-mail-color: #cfcfcf;
  --button-mail-color-dark: #9c9c9c;
  --button-facebook-color: #4868ad;
  --button-facebook-color-dark: rgb(49.5183673469, 71.5265306122, 118.9816326531);
  --button-messenger-color: #3186f6;
  --button-messenger-color-dark: rgb(9.1465116279, 95.5302325581, 209.3534883721);
  --button-twitter-color: #00aced;
  --button-twitter-color-dark: rgb(0, 116.4810126582, 160.5);
  --button-linkedin-color: #0077b5;
  --button-linkedin-color-dark: rgb(0, 68.7044198895, 104.5);
  --button-whatsapp-color: #25d366;
  --button-whatsapp-color-dark: rgb(25.5866935484, 145.9133064516, 70.5362903226);
  --button-github-color: #25292e;
  --button-github-color-dark: rgb(2.8975903614, 3.2108433735, 3.6024096386);
  --button-reddit-color: #fc461e;
  --button-reddit-color-dark: rgb(202.7960526316, 38.7565789474, 2.7039473684);
  --button-pinterest-color: #bd091c;
  --button-pinterest-color-dark: rgb(115.9772727273, 5.5227272727, 17.1818181818);
  --button-gplus-color: #ce5b4e;
  --button-gplus-color-dark: rgb(162.5110619469, 56.9247787611, 44.9889380531);
  --button-youtube-color: #cc181e;
  --button-youtube-color-dark: rgb(135.5526315789, 15.9473684211, 19.9342105263);
  --button-instagram-radial-color: radial-gradient(circle at 25% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  --button-instagram-radial-color-dark: radial-gradient(circle at 25% 110%, #b9a800 0%, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%);
}
.aws-btn--theme-rickiest.aws-btn--disabled span {
  text-decoration: line-through;
}
