.aws-btn--theme-indigo {
  --button-default-height: 44px;
  --button-default-font-size: 14px;
  --button-default-line-height: 24px;
  --button-default-border-radius: 4px;
  --button-default-placeholder-width: 120px;
  --button-icon-width: 44px;
  --button-icon-height: 44px;
  --button-small-width: 88px;
  --button-small-height: 44px;
  --button-medium-width: 136px;
  --button-medium-height: 44px;
  --button-large-width: 192px;
  --button-large-height: 44px;
  --button-font-family: inherit;
  --button-font-weight: 600;
  --button-font-style: normal;
  --button-hover-darken-opacity: 0.1;
  --button-letter-spacing: 0px;
  --button-horizontal-padding: 16px;
  --button-raise-level: 4px;
  --button-pressed-level: 0px;
  --button-hover-pressure: 1;
  --button-shadow-color: rgba(0, 0, 0, 0.3);
  --button-shadow-divisor: 2;
  --loading-transition-timing: ease-out;
  --loading-transition-speed: 6s;
  --loading-transition-end-speed: 0.3s;
  --transform-speed: 0.15s;
  --button-release-speed: 0.12s;
  --button-primary-color: #283593;
  --button-primary-color-dark: rgb(29.0909090909, 38.5454545455, 106.9090909091);
  --button-primary-foreground: rgb(201.5454545455, 206.2727272727, 240.4545454545);
  --button-primary-color-hover: rgb(37.2727272727, 49.3863636364, 136.9772727273);
  --button-primary-color-active: rgb(29.0909090909, 38.5454545455, 106.9090909091);
  --button-primary-border: none;
  --button-secondary-color: #E8EAF6;
  --button-secondary-color-dark: rgb(140.359375, 150.328125, 210.140625);
  --button-secondary-foreground: rgb(29.0909090909, 38.5454545455, 106.9090909091);
  --button-secondary-color-hover: rgb(213.671875, 217.265625, 238.828125);
  --button-secondary-color-active: rgb(195.34375, 200.53125, 231.65625);
  --button-secondary-border: none;
  --button-link-color: #3D5AFE;
  --button-link-color-dark: rgb(1.2230769231, 36.6923076923, 237.2769230769);
  --button-link-foreground: white;
  --button-link-color-hover: rgb(50.8523076923, 81.3692307692, 253.9476923077);
  --button-link-color-active: rgb(35.6307692308, 68.4230769231, 253.8692307692);
  --button-link-border: none;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: rgb(134.041322314, 31.458677686, 31.458677686);
  --button-danger-foreground: white;
  --button-danger-color-hover: rgb(187.7388429752, 44.0611570248, 44.0611570248);
  --button-danger-color-active: rgb(175.347107438, 41.152892562, 41.152892562);
  --button-danger-border: none;
  --button-disabled-color: #AFAFAF;
  --button-disabled-color-dark: rgb(136.75, 136.75, 136.75);
  --button-disabled-foreground: rgb(149.5, 149.5, 149.5);
  --button-disabled-color-hover: #AFAFAF;
  --button-disabled-color-active: #AFAFAF;
  --button-disabled-border: none;
  --button-placeholder-color: #AFAFAF;
  --button-placeholder-color-dark: rgb(136.75, 136.75, 136.75);
  --button-placeholder-color-light: rgb(149.5, 149.5, 149.5);
  --button-placeholder-color-hover: #AFAFAF;
  --button-placeholder-color-active: #AFAFAF;
  --button-placeholder-border: none;
  --button-mail-color: #cfcfcf;
  --button-mail-color-dark: #9c9c9c;
  --button-facebook-color: #4868ad;
  --button-facebook-color-dark: rgb(49.5183673469, 71.5265306122, 118.9816326531);
  --button-messenger-color: #3186f6;
  --button-messenger-color-dark: rgb(9.1465116279, 95.5302325581, 209.3534883721);
  --button-twitter-color: #00aced;
  --button-twitter-color-dark: rgb(0, 116.4810126582, 160.5);
  --button-linkedin-color: #0077b5;
  --button-linkedin-color-dark: rgb(0, 68.7044198895, 104.5);
  --button-whatsapp-color: #25d366;
  --button-whatsapp-color-dark: rgb(25.5866935484, 145.9133064516, 70.5362903226);
  --button-github-color: #25292e;
  --button-github-color-dark: rgb(2.8975903614, 3.2108433735, 3.6024096386);
  --button-reddit-color: #fc461e;
  --button-reddit-color-dark: rgb(202.7960526316, 38.7565789474, 2.7039473684);
  --button-pinterest-color: #bd091c;
  --button-pinterest-color-dark: rgb(115.9772727273, 5.5227272727, 17.1818181818);
  --button-gplus-color: #ce5b4e;
  --button-gplus-color-dark: rgb(162.5110619469, 56.9247787611, 44.9889380531);
  --button-youtube-color: #cc181e;
  --button-youtube-color-dark: rgb(135.5526315789, 15.9473684211, 19.9342105263);
  --button-instagram-radial-color: radial-gradient(circle at 25% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  --button-instagram-radial-color-dark: radial-gradient(circle at 25% 110%, #b9a800 0%, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%);
}
