.aws-btn--theme-bojack {
  --button-default-height: 51px;
  --button-default-font-size: 14px;
  --button-default-line-height: 28px;
  --button-default-border-radius: 2px;
  --button-default-placeholder-width: 120px;
  --button-icon-width: 44px;
  --button-icon-height: 44px;
  --button-small-width: 88px;
  --button-small-height: 44px;
  --button-medium-width: 136px;
  --button-medium-height: 44px;
  --button-large-width: 192px;
  --button-large-height: 44px;
  --button-font-family: inherit;
  --button-font-weight: 600;
  --button-font-style: normal;
  --button-hover-darken-opacity: 0.1;
  --button-letter-spacing: 0px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 4px;
  --button-pressed-level: 0px;
  --button-hover-pressure: 1;
  --button-shadow-color: rgba(0, 0, 0, 0.3);
  --button-shadow-divisor: 2;
  --loading-transition-timing: ease-out;
  --loading-transition-speed: 6s;
  --loading-transition-end-speed: 0.3s;
  --transform-speed: 0.175s;
  --button-release-speed: 0.14s;
  --button-primary-color: #6678C5;
  --button-primary-color-dark: rgb(61.1611374408, 80.1421800948, 161.3388625592);
  --button-primary-foreground: white;
  --button-primary-color-hover: rgb(83.509478673, 103.6848341232, 189.990521327);
  --button-primary-color-active: rgb(68.1706161137, 89.327014218, 179.8293838863);
  --button-primary-border: none;
  --button-secondary-color: #848289;
  --button-secondary-color-dark: rgb(94.0740740741, 92.5061728395, 97.9938271605);
  --button-secondary-foreground: white;
  --button-secondary-color-hover: rgb(119.2592592593, 117.2716049383, 124.2283950617);
  --button-secondary-color-active: rgb(106.6666666667, 104.8888888889, 111.1111111111);
  --button-secondary-border: none;
  --button-link-color: #3eb7b9;
  --button-link-color-dark: rgb(42.7975708502, 126.3218623482, 127.7024291498);
  --button-link-foreground: white;
  --button-link-color-hover: rgb(59.4396761134, 175.4429149798, 177.3603238866);
  --button-link-color-active: rgb(55.5991902834, 164.1072874494, 165.9008097166);
  --button-link-border: none;
  --button-danger-color: #EBA0BD;
  --button-danger-color-dark: rgb(221.6956521739, 96.8043478261, 145.0956521739);
  --button-danger-foreground: white;
  --button-danger-color-hover: rgb(233.2260869565, 151.5739130435, 183.1460869565);
  --button-danger-color-active: rgb(230.5652173913, 138.9347826087, 174.3652173913);
  --button-danger-border: none;
  --button-disabled-color: #DFDFDF;
  --button-disabled-color-dark: rgb(184.75, 184.75, 184.75);
  --button-disabled-foreground: rgb(197.5, 197.5, 197.5);
  --button-disabled-color-hover: #DFDFDF;
  --button-disabled-color-active: #DFDFDF;
  --button-disabled-border: none;
  --button-placeholder-color: #DFDFDF;
  --button-placeholder-color-dark: rgb(184.75, 184.75, 184.75);
  --button-placeholder-color-light: rgb(197.5, 197.5, 197.5);
  --button-placeholder-color-hover: #DFDFDF;
  --button-placeholder-color-active: #DFDFDF;
  --button-placeholder-border: none;
  --button-mail-color: #cfcfcf;
  --button-mail-color-dark: #9c9c9c;
  --button-facebook-color: #4868ad;
  --button-facebook-color-dark: rgb(49.5183673469, 71.5265306122, 118.9816326531);
  --button-messenger-color: #3186f6;
  --button-messenger-color-dark: rgb(9.1465116279, 95.5302325581, 209.3534883721);
  --button-twitter-color: #00aced;
  --button-twitter-color-dark: rgb(0, 116.4810126582, 160.5);
  --button-linkedin-color: #0077b5;
  --button-linkedin-color-dark: rgb(0, 68.7044198895, 104.5);
  --button-whatsapp-color: #25d366;
  --button-whatsapp-color-dark: rgb(25.5866935484, 145.9133064516, 70.5362903226);
  --button-github-color: #25292e;
  --button-github-color-dark: rgb(2.8975903614, 3.2108433735, 3.6024096386);
  --button-reddit-color: #fc461e;
  --button-reddit-color-dark: rgb(202.7960526316, 38.7565789474, 2.7039473684);
  --button-pinterest-color: #bd091c;
  --button-pinterest-color-dark: rgb(115.9772727273, 5.5227272727, 17.1818181818);
  --button-gplus-color: #ce5b4e;
  --button-gplus-color-dark: rgb(162.5110619469, 56.9247787611, 44.9889380531);
  --button-youtube-color: #cc181e;
  --button-youtube-color-dark: rgb(135.5526315789, 15.9473684211, 19.9342105263);
  --button-instagram-radial-color: radial-gradient(circle at 25% 110%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  --button-instagram-radial-color-dark: radial-gradient(circle at 25% 110%, #b9a800 0%, #938500 5%, #b10f00 45%, #8c0061 60%, #002ca9 90%);
}
.aws-btn--theme-bojack.aws-btn--disabled span {
  text-decoration: line-through;
}
.aws-btn--theme-bojack.aws-btn--progress.aws-btn--secondary .aws-btn__progress::before,
.aws-btn--theme-bojack.aws-btn--progress.aws-btn--secondary .aws-btn__progress::after {
  color: var(--button-secondary-foreground);
}
